.idea/AAChartCore.iml
.idea/encodings.xml
.idea/modules.xml
.idea/workspace.xml
ChartCoreSlim/.idea/encodings.xml
.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/fileChanges/last-build.bin
.gradle/5.4.1/fileContent/fileContent.lock
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/javaCompile/jarAnalysis.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
