.idea/AAChartCore.iml
.idea/encodings.xml
.idea/modules.xml
.idea/workspace.xml
ChartCoreSlim/.idea/encodings.xml
.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/fileChanges/last-build.bin
.gradle/5.4.1/fileContent/fileContent.lock
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/javaCompile/jarAnalysis.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/caches/gradle_models.ser
.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_26_1_0_aar.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_26_1_0_aar.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_0_aar.xml
.idea/libraries/Gradle__com_android_support_design_26_1_0_aar.xml
.idea/libraries/Gradle__com_android_support_recyclerview_v7_26_1_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_compat_26_1_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_core_ui_26_1_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_core_utils_26_1_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_fragment_26_1_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_media_compat_26_1_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_v4_26_1_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_26_1_0_aar.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_3_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_3_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_test_rules_1_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_test_runner_1_0_1_aar.xml
.idea/libraries/Gradle__com_android_support_transition_26_1_0_aar.xml
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.idea/libraries/Gradle____local_aars_____app_libs_gson_2_7_jar_unspecified_jar.xml
/.gradle/5.6.4/fileChanges/last-build.bin
/.gradle/5.6.4/fileHashes/fileHashes.lock
/.gradle/5.6.4/fileHashes/fileHashes.bin
