<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChartsDemo.AdditionalContent.AdvancedUpdatingFeatureActivity" />
        <activity android:name=".ChartsDemo.AdditionalContent.UpdateChartBackgroundColorActivity" />
        <activity android:name=".ChartsDemo.AdditionalContent.ScrollableChartActivity" />
        <activity android:name=".ChartsDemo.AdditionalContent.DoubleChartsLinkedWorkActivity" />
        <activity android:name=".ChartsDemo.AdditionalContent.ScrollingUpdateDataActivity" />
        <activity android:name=".ChartsDemo.AdditionalContent.JSFunctionForAATooltipActivity" />
        <activity android:name=".ChartsDemo.AdditionalContent.EvaluateJSStringFunctionActivity" />
        <activity android:name=".ChartsDemo.AdditionalContent.OnlyRefreshChartDataActivity" />
        <activity android:name=".ChartsDemo.AdditionalContent.HideOrShowChartSeriesActivity" />
        <activity android:name=".ChartsDemo.AdditionalContent.DrawChartWithAAOptionsActivity" />
        <activity android:name=".ChartsDemo.AdditionalContent.JSFunctionForAAAxisActivity" />
        <activity android:name=".ChartsDemo.AdditionalContent.JSFunctionForAALegendActivity" />
        <activity android:name=".ChartsDemo.AdditionalContent.JSFunctionForAAChartEventsActivity" />
        <activity android:name=".ChartsDemo.AdditionalContent.JSFunctionForAAOptionsActivity" />

        <activity android:name=".ChartsDemo.MainContent.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChartsDemo.MainContent.BasicChartActivity"
            android:label="@string/title_activity_common_chart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChartsDemo.MainContent.SpecialChartActivity"
            android:label="@string/title_activity_special_chart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChartsDemo.MainContent.CustomStyleChartActivity" />
        <activity android:name=".ChartsDemo.MainContent.MixedChartActivity" />
        <activity android:name=".ChartsDemo.MainContent.ChartListActivity" />
    </application>

</manifest>
